.wrapper {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 1rem;
  color: #fff;
  padding-top: 20px;
  padding-left: 1rem;
}

.img {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 8px 0px;
  user-select: none;
  transition-duration: 0.5s;
}

.wrapper img:hover {
  transform: scale(1.12);
  -webkit-transform: scale(1.12);
  -moz-transform: scale(1.12);
  -o-transform: scale(1.12);
  -ms-transform: scale(1.12);
  cursor: pointer;
}
